.page-body > article > div.article-body {
  padding-left: 16px;
  padding-right: 16px;
}
.article-body > h3,
.article-body > h4 {
  padding-left: 0;
  padding-right: 0;
  background-color: inherit;
}
.article-content {
  font-size: 14px;
}
.article-thumbnail {
  max-width: 100%;
  margin-bottom: 14px;
}
.article-content img {
  max-width: 100%;
  margin-bottom: 14px;
}

.job-description h3,
.job-description h4,
.job-description h5,
.job-description h6,
.job-description p {
  padding-left: 0;
  padding-right: 0;
}
.job-description ul {
  padding-left: 16px;
  padding-right: 0;
}
